body {
  background-color: #121314;
}
label {
  color: #88898c;
}
.btn-spotify {
  color:white;
  background-color: #84BD00;
  border-color: #84BD00;
}
.btn-spotify:active,
.btn-spotify:focus,
.btn-spotify:hover {
  color:white;
  background-color: #68B800;
  border-color: #68B800;
}
.header {
  color: floralwhite;
  margin: 20px;
  text-align: center;
}
.table {
  color: floralwhite;
}
.table .btn {
  float: right;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #88898c;
  text-align: center;
}
.footer a {
  color: #88898c;
  text-decoration: underline;
}
